<body>
    <h1>Applications to revise</h1>
    <div class="product-list">
        <ng-container *ngFor="let application of applications">
            <div class="product" *ngIf="application.status === 'pending'">
                <div class="product-info">
                    <div class="product-name">{{ application.product.name }}</div>
                    <div class="info"><b>Applicant: </b>{{ application.user.username }}</div>
                    <div class="info"><b>Job creator: </b>{{application.product_author}}</div>
                </div>
                <div class="product-status">
                    Status:
                    <span [ngClass]="{
                            'pending': application.status === 'pending'
                        }">
                        {{ application.status }}
                    </span>
                </div>
                <div class="buttons">
                    <button (click)="acceptApplication(application.slug)" class="accept-button">Accept</button>
                    <button (click)="discardApplication(application.slug)" class="discard-button">Discard</button>
                </div>
            </div>
        </ng-container>
    </div>
</body>