    body{
        background:#E0E0E0;
    }
    .details {
        border: 1.5px solid grey;
        color: #212121;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 5px #212121;
        transition: background-color 0.3s, transform 0.3s;
        transform: scale(1);
    }

    .details:hover {
        background-color: rgb(255, 255, 255);
        transform: scale(1.05);
    }

    .prueba2{
        width: 270px;
    }
        
    .cart {
            background-color: #212121;
            color: white;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 900;
            width: 100%;
            height: 90%;
            padding-top: 9px;
            box-shadow: 0px 5px 10px  #212121;
            transition: background-color 0.4s, transform 0.3s;
            transform: scale(1);
        }

        .cart:hover {
            background-color: rgb(156, 156, 156); 
            transform: scale(1.05); 
        }
        .card-body {
            width: 200%;
        }

        .btn {
            border-radius: 0;
        }

        .img-thumbnail {
            border: none;
        }

        .card {
            width: 350%; 
            margin: 10px; 
            box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
            border-radius: 5px;
            padding-bottom: 10px;
        }
        
        
        .card-body {
            width: 100%;
        }
        
        .btn {
            border-radius: 0;
        }

        