<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<ng-container *ngIf="userType; else guestHeader">
    <ng-container *ngIf="userType === 'client'; else companyHeader">
        <app-header></app-header>
    </ng-container>
    <ng-template #companyHeader>
        <ng-container *ngIf="userType === 'company'; else recruiterHeader">
            <app-header-company></app-header-company>
        </ng-container>
        <ng-template #recruiterHeader>
            <app-header-recruiter></app-header-recruiter>
        </ng-template>
    </ng-template>
</ng-container>

<ng-template #guestHeader>
    <app-header></app-header> <!-- Header for guests or not logged in -->
</ng-template>

<router-outlet></router-outlet>
<app-footer></app-footer>