<ng-container *ngIf="userType; else guestHeader">
    <ng-container [ngSwitch]="userType">
        <app-header *ngSwitchCase="'client'"></app-header>
        <app-header-company *ngSwitchCase="'company'"></app-header-company>
        <app-header-recruiter *ngSwitchCase="'recruiter'"></app-header-recruiter>
        <ng-container *ngSwitchDefault>
            <app-header></app-header>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #guestHeader>
    <app-header></app-header>
</ng-template>

<router-outlet></router-outlet>

<app-footer *ngIf="userType !== 'company' && userType !== 'recruiter'"></app-footer>