<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <img [src]="profile.image" alt="user image" class="user-img" />
          <h4>{{ profile.username }}</h4>
          <p>{{ profile.bio }}</p>
          <app-follow-button [hidden]="isUser" [profile]="profile" (toggle)="onToggleFollow($event)">
          </app-follow-button>
          <a [routerLink]="['/settings']" [hidden]="!isUser" class="btn btn-sm btn-outline-secondary action-btn">
            <i class="ion-gear-a"></i> Edit Profile Settings
          </a>

          <ul class="flex-menu">
            <li (click)="change_followers()"><strong>{{profile.n_followers}}</strong> Followers</li>
            <li (click)="change_follows()"><strong>{{profile.n_follows}}</strong> Following</li>
            <li (click)="change_products()">Fav Products</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>

<div *ngIf="pages_profile === 'followers'">
  <h1>Followers</h1>
  <app-follow-list *ngFor="let follower of followers" [followersInput]="follower"
    [pages_profile]="pages_profile"></app-follow-list>
</div>

<div *ngIf="pages_profile === 'follows'">
  <h1>Following</h1>
  <app-follow-list *ngFor="let follow of follow" [follow]="follow" [pages_profile]="pages_profile"></app-follow-list>
</div>

<!-- <div class="row" *ngIf="pages_profile === 'products'">
  <h1>{{profile.username}} Products</h1>
  <app-list-products-on-profile *ngFor="let product of products" [products]="product"></app-list-products-on-profile>
</div> -->