<div *ngIf="pages_profile === 'products'">
    <div class="container-fluid row" class="product" *ngIf="products">
        <div class="prueba2">
            <div class="col-md-3 col-10 mt-5 tarjeta">
                <div class="card mx-auto prueba">
                    <img class="mx-auto" style="margin-top: 10px" src="{{products.img}}" width="200px" height="200px" />
                    <div class="card-body text-center mx-auto">
                        <div class='cvp'>
                            <h5 class="card-title font-weight-bold">{{products.name}}</h5>
                            <p class="card-text">{{products.price}}€</p>
                            <a class="btn details px-auto" [routerLink]="['/details/', products.slug]">View
                                Details</a><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="pages_profile === 'favorite'">
    <div class="container-fluid row" class="product" *ngIf="favorite">
        <div class="prueba2">
            <div class="col-md-3 col-10 mt-5 tarjeta">
                <div class="card mx-auto prueba">
                    <img class="mx-auto" style="margin-top: 10px" src="{{favorite.img}}" width="200px" height="200px" />
                    <div class="card-body text-center mx-auto">
                        <div class='cvp'>
                            <h5 class="card-title font-weight-bold">{{favorite.name}}</h5>
                            <p class="card-text">{{favorite.price}}€</p>
                            <a class="btn details px-auto" [routerLink]="['/details/', favorite.slug]">View
                                Details</a><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>