<div id="sidebar">
    <div class="logo">
        <img src="../../../../assets/logo/logo.png" routerLink='/home' alt="Logo" />
    </div>
    <nav>
        <ul>
            <li>
                <a>
                    <img [src]="currentUser.image || 'https://static.productionready.io/images/smiley-cyrus.jpg'"
                        *ngIf="currentUser.image" class="user-pic" alt="user image" />
                    {{ currentUser.username }}</a>
            </li>
            <li>
                <a (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>
</div>