.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.pagination .page-item {
    list-style-type: none;
    margin: 0 5px;
}

.pagination .page-item .page-link {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #6e7072;
    border: 2px solid #413f3f;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.pagination .page-item .page-link:hover {
    background-color: rgb(68, 68, 78);
}

.pagination .page-item.active .page-link {
    background-color: rgba(45, 45, 47);
    color: white;
    border-color: black;
}

.pagination .page-item.disabled .page-link {
    pointer-events: none;
    opacity: 0.6;
    background-color: #9b9ba3;
    color: black;
    border-color: black;
}