<br>
<br>
<div class="comment initial">
    <div class="comment-avatar-container">
        <img class="comment-avatar" src="{{comment.author.image}}" />
    </div>
    <h2 class="comment-title">Author: {{ comment.author.username }}</h2>
    <p class="comment-text">{{ comment.body }}</p>
    <p class="comment-time-stamp">{{ comment.createdAt | date: 'short'}}</p>
    <div class="comment-delete-icon" *ngIf="canModify === true"><i class="bi bi-trash small"
            (click)="deleteClicked()"></i></div>
</div>