#sidebar {
    background-color: #252525;
    width: 250px;
    height: 100%;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
}

.logo img {
    max-height: 80px;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li.username {
    margin-bottom: 50px;
    /* Solo para el elemento con la clase username */
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #495057;
    color: white;
    border-radius: 4px;
}

.user-pic {
    border: 2px solid white;
    border-radius: 50%;
    max-width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}