<!-- <h1>card category</h1> -->

<div class="container mt-100">
    <div class="prueba2">
        <div class="mt-5">
            <div class="card">
                <div class="img_product">
                    <img src="../../../assets/img_categories/{{category.image}}"
                        [routerLink]="['/shop/categories', category.slug]" />
                </div>
                <div class="info_card text-center">
                    <div>
                        <h1>{{category.category_name}}</h1>
                    </div>
                </div>
                <a class="btn details px-auto" [routerLink]="['/shop/categories', category.slug]">View Products</a>
            </div>
        </div>
    </div>
</div>