.productoss {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1600px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}