<ngb-carousel *ngIf="page === 'categories'" style="background-color: #1e262d">
	<ng-template *ngFor="let category of categories;" ngbSlide >
		<div class="picsum-img-wrapper contenedor" >
			<img class="img_carousel" src="../../../{{category.image}}" [routerLink]="['/shop/categories/', category.slug]" />
		</div>
		<div class="carousel-caption display-4">
			<h3>{{category.category_name}}</h3>
		</div>
	</ng-template>
</ngb-carousel>

<ngb-carousel *ngIf="page === 'details'" style="background-color: #1e262d">
	<ng-template *ngFor="let item of products_details;" ngbSlide >
		<div class="picsum-img-wrapper contenedor" >
			<img class="img_carousel" src="../../../{{item}}" />
		</div>
	</ng-template>
</ngb-carousel>