<div class="editor-page">
    <div class="container page">
        <div class="row">
        <div class="col-md-10 offset-md-1 col-xs-12">
            <br>
            <h2>Editar Producto</h2>
            <br>
            <form [formGroup]="productForm">
            <fieldset [disabled]="isSubmitting">

                <fieldset class="form-group">
                <input class="form-control form-control-lg"
                    formControlName="name"
                    type="text"
                    placeholder="Product Name" />
                </fieldset>
                <br>
                <fieldset class="form-group">
                <input class="form-control"
                    formControlName="description"
                    type="text"
                    placeholder="Write a short description about your product" />
                </fieldset>
                <br>
                <fieldset class="form-group">
                    <input class="form-control"
                    formControlName="price"
                    type="number" min="0" max="10000000"
                    placeholder="Update price"/>
                </fieldset>
                <br>
                <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
                Update Product
                </button>
            </fieldset>
            </form>

        </div>
        </div>
    </div>
</div>